/* Style sheet for Markdeep that corresponds closely to the default Latex article format 
   Put the following in your Markdeep document to use this:
 
   <link rel="stylesheet" href="https://casual-effects.com/markdeep/latest/dark.css">
*/


@import url('https://fonts.googleapis.com/css?family=Teko:700');

body {
  background: #000;
  color: #ccc;
  font-family: Arial, Helvetica, "sans serif";
  text-align: left;
}

.md div.title {
  color: #d6ab62;
  font-family: Teko, Arial;
  font-size: 200%;
  background: -webkit-linear-gradient(#f9deae, #a87215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.md a:link, .md a:visited{
  color:#6dafff;
  font-family: Arial, Helvetica, "sans serif";
}

.md hr {
  height: 0px;
  border: none;
  border-top: 0.1pt solid #777;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md div.nonumberh1, .md div.nonumberh2,.md div.nonumberh3, .md div.nonumberh4, .md div.nonumberh5, .md div.nonumberh6 {
  color: #bc9249;
  border-color: #bc9249;
  font-family: Teko, Arial;
  font-size: 150%;
  padding-bottom: 0px;
  background: -webkit-linear-gradient(#f9deae, #a87215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.md svg.diagram {
  stroke: #ccc;
  fill: #ccc;
}

.md svg.diagram .opendot {
  fill: #000;
}

.md .listing {
  background: #ddd;
}

.md .tilde code {
  color: #000;
}

.md .backtick code {
  color: #000;
}

div.markdeepFooter, div.markdeepFooter a {
  color: #bc9249 !important;
}
