/* Request lanscape from the printer/browser */
@page {
    size: landscape;
    margin-bottom: 100px;
}

.md div.title {
    margin-top: 250px;
    margin-bottom: 40px;
    font-size:  50px;
    font-weight: bold;
    counter-increment: page;
}

.md div.subtitle {
    font-size: 30px;
}

.md hr {
    page-break-before: always;
}

body#md {
    width: 900px;
    max-width: 100%;
    font-size: 25px;
    padding: 40px;
    counter-reset: page;
    --accent-color: #F61;
}

/* Disable section numbering */
.md h1:before {content: ""}
.md h2:before {content: ""}

.md svg.diagram {
    zoom: 150%;
}

/* Sections become presentation sections */
.md h1, .md .nonumberh1 {
    page-break-before: always;
    width: 1100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 300px;
    padding-bottom: 20px;
    border: none;
    color: var(--accent-color);
    margin-left: -100px;
    margin-right:-100px;
    font-size: 50px;
    counter-increment: page;
}

/* Subsections become slides */
.md h2, .md .nonumberh2 {
    page-break-before: always;
    width: 1100px;
    text-align: center;
    background: var(--accent-color);
    color: #FFF;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin-left: -100px;
    margin-right:-100px;
    font-size: 34px;
    counter-increment: page;
}

@media print{
    footer {
        position: fixed;
        bottom: 0;
        right: 0;
        color: #AAA;
        font-size: 50%;
    }
}

@media screen {
    footer { display: none }
    
    .md h1, .md .nonumberh1 {
        /* Show slide divisions */
        border-top: 1px solid black;
    }
}

/* Hide HR in printing */
@media print {
  .md hr {
    visibility: hidden;
  }
}

.md hr {
    counter-increment: page;
}

.md code {
    font-size: 100%;
}

.md pre.listing {
    font-size: 80%;
    border: 1px solid #CCC;
}

.md strong, .md b {
    color: var(--accent-color);
}

.md table {
    font-size: 100%;
    background-color: #eee;
}

.md table.table td {
    border: none;
}

.md table.table th {
    background-color: black;
    color: white;
    border: none;
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

.md table.table th + th {
    border-left: 3px solid white;
}

.md table.table td + td {
    border-left: 3px solid white;
}

.md table.table tr:nth-child(n) {
    background-color: none;
}

